APP_ENV=development
APP_NAME=Comunidade Unidos em Cristo API
FRONTEND_ORIGIN=http://localhost:5500
PAGSEGURO_API_BASE_URL=https://sandbox.api.pagseguro.com
PAGSEGURO_TOKEN=
BREVO_API_KEY=
EMAIL_FROM=contato@seudominio.com.br
DATABASE_URL=postgresql+psycopg://usuario:senha@localhost:5432/cuc
